body {
    padding: 0rem;
    margin: 2rem;
    background: #80A8CE;
    /*background: #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%);*/
    background: linear-gradient(90deg, #80A8CE 0, #ABB1EA 58%);
    font-family: 'Inter', sans-serif;
}

.card {
    position: absolute;
    align-content: center;
    top: 10rem;
    left: 40rem;
    width: 310px;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}



.container {
    position: relative;
    top: 0;
    left: 0;
}

.shape {
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
}

.menu {
    position: absolute;
    top: 4.4rem;
    left: 10.6rem;
    width: 157px;
    height: 6.2rem;
    padding: 2rem;
    border-radius: 0.1rem;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

.music {
    position: absolute;
    align-content: center;
    top: 40rem;
    left: 7rem;
    width: 310px;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

#jellyjam {
    width: 100%;
    height: 280px;
}

/*Start*/
/** {box-sizing:border-box}*/

.slideshow-wrapper {
    position: relative;
    top: 15rem; /* Adjust top position as needed */
    left: 40rem;
    width: 500px;
    
    /* Adjust right position as needed */
}
/* Slideshow container */
.slideshow-container {
    
    position: relative;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot-container {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*End*/

h1 {
    font-size: 1.5rem;
}

a, p {
    color: #4d4ae8;
    text-decoration: none;
    font-size: 0.7rem;
}

@media only screen and (max-width:500px) {

    .card {
        position: absolute;
        align-content: center;
        text-align: initial;
        top: 2rem;
        left: 3.2rem;
        width: 265px;
        height: auto;
        padding: 1rem;
        border-radius: 1rem;
        background: rgba(255, 255, 255, .7);
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
    }

    .card-title {
        margin-top: 0;
        margin-bottom: .5rem;
        font-size: 1.2rem;
    }

    .container {
        position: relative;
        top: 0;
        left: 0;
    }

    .shape {
        position: relative;
        top: 10rem;
        left: 0;
        width: 350px;
        float: initial;
    }

    .menu {
        position: absolute;
        align-content: center;
        top: 12.5rem;
        left: 6.3rem;
        width: 100.5px;
        height: 4.7rem;
        padding: .8rem;
        border-radius: 0.1rem;
        background: rgba(255, 255, 255, .7);
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px); 
    }

    .music {
        position: absolute;
        align-content: center;
        text-align: initial;
        top: 34rem;
        left: 3.2rem;
        width: 265px;
        height: auto;
        padding: 1rem;
        border-radius: 1rem;
        background: rgba(255, 255, 255, .7);
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
    }
    
    
    #player {
        width: 100%;
    }

    #jellyjam {
        width: 100%;
        height: 220px;
    }
    
    /*Start*/
    * {box-sizing:border-box}
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin-left: 50px;
    }

    /* Hide the images by default */
    .mySlides {
      display: none;
    }

    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    /*End*/

    p, a {
        font-size: 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }
    
}

/*
.card {
    position: fixed;
    align-content: center;
    top: 14rem;
    left: 12rem;
    width: 270px;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

.shape {
    position: absolute;
    width: 750px;
    top: 1rem;
    right: 2rem;
}

.card-title {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

.menu {
    position: absolute;
    top: 6.5rem;
    right: 18.5rem;
    width: 207px;
    height: 8.7rem;
    padding: 2rem;
    border-radius: 0.1rem;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

*/

    /*@media only screen and (max-width:500px) {
    /* For mobile phones: 

    .card {
        position: center;
        width: 50%;
    }

    .card-title {
        font-size: 1rem;
    }

    .shape {
        top: 15rem;
        width: 100%;
    }

    .menu {
        position: absolute;
        top: 18.5rem;
        right: 13rem;
        width: 118px;
        height: 4.85rem;
        padding: 2rem;
        border-radius: 0.1rem;
        background: rgba(255, 255, 255, .7);
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
        font-size: 0.7rem;
    }
}


*/




