body {
    padding: 0rem;
    margin: 2rem;
    background: #80A8CE;
    /*background: #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%);*/
    background: linear-gradient(90deg, #80A8CE 0, #ABB1EA 58%);
    font-family: 'Inter', sans-serif;
}

.card {
    position: absolute;
    align-content: center;
    top: 10rem;
    left: 40rem;
    width: 310px;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

.container {
    position: relative;
    top: 0;
    left: 0;
}

.shape {
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
}

.menu {
    position: absolute;
    top: 4.4rem;
    left: 10.6rem;
    width: 157px;
    height: 6.2rem;
    padding: 2rem;
    border-radius: 0.1rem;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

p {
    font-size: 1.1rem;
}

h1 {
    font-size: 1.5rem;
}

a {
    color: #4d4ae8;
    text-decoration: none;
    font-size: 1rem;
}

@media only screen and (max-width:500px) {

    .card {
        position: absolute;
        align-content: center;
        text-align: initial;
        top: 2rem;
        left: 3rem;
        width: 260px;
        height: auto;
        padding: 1rem;
        border-radius: 1rem;
        background: rgba(255, 255, 255, .7);
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
    }

    .card-title {
        margin-top: 0;
        margin-bottom: .5rem;
        font-size: 0.8rem;
    }

    .container {
        position: relative;
        top: 0;
        left: 0;
    }

    .shape {
        position: relative;
        top: 10rem;
        left: 0;
        width: 350px;
        float: initial;
    }

    .menu {
        position: absolute;
        align-content: center;
        top: 12.5rem;
        left: 6.3rem;
        width: 94px;
        height: auto;
        padding: 1rem;
        border-radius: 0.1rem;
        background: rgba(255, 255, 255, .7);
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px); 
    }

    p, a {
        font-size: .5rem;
    }

    h3 {
        font-size: 1rem;
    }
    
}

/*
.card {
    position: fixed;
    align-content: center;
    top: 14rem;
    left: 12rem;
    width: 270px;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

.shape {
    position: absolute;
    width: 750px;
    top: 1rem;
    right: 2rem;
}

.card-title {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

.menu {
    position: absolute;
    top: 6.5rem;
    right: 18.5rem;
    width: 207px;
    height: 8.7rem;
    padding: 2rem;
    border-radius: 0.1rem;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

*/

    /*@media only screen and (max-width:500px) {
    /* For mobile phones: 

    .card {
        position: center;
        width: 50%;
    }

    .card-title {
        font-size: 1rem;
    }

    .shape {
        top: 15rem;
        width: 100%;
    }

    .menu {
        position: absolute;
        top: 18.5rem;
        right: 13rem;
        width: 118px;
        height: 4.85rem;
        padding: 2rem;
        border-radius: 0.1rem;
        background: rgba(255, 255, 255, .7);
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
        font-size: 0.7rem;
    }
}


*/




